<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" >
    <link rel="stylesheet" type="text/css" href="../public/stylesheet/app.css" >
    <title></title>
</head>
<body>
    <div class="ui pointing menu">
        <a class=" item">
            <i class="code icon"></i>
            Blog Site
        </a>
        <a href="/" class="item">
          Home
        </a>
        <a href="/blog/new"class="item">
          New Blog
        </a>
      </div>
      <!-- <div class="ui sidebar">
        ...
      </div>
      <div class="pusher">
        Your site's actual content
      </div>
         
  -->